@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-Thin.eot');
  src:
    local('F37 Judge Thin'),
    local('F37Judge-Thin'),
    url('../F37Judge-Thin.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-Thin.woff2') format('woff2'),
    url('../F37Judge-Thin.woff') format('woff'),
    url('../F37Judge-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Bold Condensed';
  src: url('../F37Judge-BoldCondensed.eot');
  src:
    local('F37 Judge Bold Condensed'),
    local('F37Judge-BoldCondensed'),
    url('../F37Judge-BoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-BoldCondensed.woff2') format('woff2'),
    url('../F37Judge-BoldCondensed.woff') format('woff'),
    url('../F37Judge-BoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Thin Extended';
  src: url('../F37Judge-ThinExtendedItalic.eot');
  src:
    local('F37 Judge Thin Extended Italic'),
    local('F37Judge-ThinExtendedItalic'),
    url('../F37Judge-ThinExtendedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-ThinExtendedItalic.woff2') format('woff2'),
    url('../F37Judge-ThinExtendedItalic.woff') format('woff'),
    url('../F37Judge-ThinExtendedItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-MediumItalic.eot');
  src:
    local('F37 Judge Medium Italic'),
    local('F37Judge-MediumItalic'),
    url('../F37Judge-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-MediumItalic.woff2') format('woff2'),
    url('../F37Judge-MediumItalic.woff') format('woff'),
    url('../F37Judge-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Bold Condensed';
  src: url('../F37Judge-BoldCondensedItalic.eot');
  src:
    local('F37 Judge Bold Condensed Italic'),
    local('F37Judge-BoldCondensedItalic'),
    url('../F37Judge-BoldCondensedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-BoldCondensedItalic.woff2') format('woff2'),
    url('../F37Judge-BoldCondensedItalic.woff') format('woff'),
    url('../F37Judge-BoldCondensedItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Medium Condensed';
  src: url('../F37Judge-MediumCondensedItalic.eot');
  src:
    local('F37 Judge Medium Condensed Italic'),
    local('F37Judge-MediumCondensedItalic'),
    url('../F37Judge-MediumCondensedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-MediumCondensedItalic.woff2') format('woff2'),
    url('../F37Judge-MediumCondensedItalic.woff') format('woff'),
    url('../F37Judge-MediumCondensedItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-Regular.eot');
  src:
    local('F37 Judge Regular'),
    local('F37Judge-Regular'),
    url('../F37Judge-Regular.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-Regular.woff2') format('woff2'),
    url('../F37Judge-Regular.woff') format('woff'),
    url('../F37Judge-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Extended';
  src: url('../F37Judge-RegularExtended.eot');
  src:
    local('F37 Judge Regular Extended'),
    local('F37Judge-RegularExtended'),
    url('../F37Judge-RegularExtended.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-RegularExtended.woff2') format('woff2'),
    url('../F37Judge-RegularExtended.woff') format('woff'),
    url('../F37Judge-RegularExtended.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Medium Compressed';
  src: url('../F37Judge-MediumCompressedItalic.eot');
  src:
    local('F37 Judge Medium Compressed Italic'),
    local('F37Judge-MediumCompressedItalic'),
    url('../F37Judge-MediumCompressedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-MediumCompressedItalic.woff2') format('woff2'),
    url('../F37Judge-MediumCompressedItalic.woff') format('woff'),
    url('../F37Judge-MediumCompressedItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Compressed';
  src: url('../F37Judge-RegularCompressed.eot');
  src:
    local('F37 Judge Regular Compressed'),
    local('F37Judge-RegularCompressed'),
    url('../F37Judge-RegularCompressed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-RegularCompressed.woff2') format('woff2'),
    url('../F37Judge-RegularCompressed.woff') format('woff'),
    url('../F37Judge-RegularCompressed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-RegularItalic.eot');
  src:
    local('F37 Judge Regular Italic'),
    local('F37Judge-RegularItalic'),
    url('../F37Judge-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-RegularItalic.woff2') format('woff2'),
    url('../F37Judge-RegularItalic.woff') format('woff'),
    url('../F37Judge-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Extended';
  src: url('../F37Judge-RegularExtendedItalic.eot');
  src:
    local('F37 Judge Regular Extended Italic'),
    local('F37Judge-RegularExtendedItalic'),
    url('../F37Judge-RegularExtendedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-RegularExtendedItalic.woff2') format('woff2'),
    url('../F37Judge-RegularExtendedItalic.woff') format('woff'),
    url('../F37Judge-RegularExtendedItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-ThinItalic.eot');
  src:
    local('F37 Judge Thin Italic'),
    local('F37Judge-ThinItalic'),
    url('../F37Judge-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-ThinItalic.woff2') format('woff2'),
    url('../F37Judge-ThinItalic.woff') format('woff'),
    url('../F37Judge-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-BoldItalic.eot');
  src:
    local('F37 Judge Bold Italic'),
    local('F37Judge-BoldItalic'),
    url('../F37Judge-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-BoldItalic.woff2') format('woff2'),
    url('../F37Judge-BoldItalic.woff') format('woff'),
    url('../F37Judge-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Bold Compressed';
  src: url('../F37Judge-BoldCompressed.eot');
  src:
    local('F37 Judge Bold Compressed'),
    local('F37Judge-BoldCompressed'),
    url('../F37Judge-BoldCompressed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-BoldCompressed.woff2') format('woff2'),
    url('../F37Judge-BoldCompressed.woff') format('woff'),
    url('../F37Judge-BoldCompressed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Thin Condensed';
  src: url('../F37Judge-ThinCondensed.eot');
  src:
    local('F37 Judge Thin Condensed'),
    local('F37Judge-ThinCondensed'),
    url('../F37Judge-ThinCondensed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-ThinCondensed.woff2') format('woff2'),
    url('../F37Judge-ThinCondensed.woff') format('woff'),
    url('../F37Judge-ThinCondensed.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Medium Condensed';
  src: url('../F37Judge-MediumCondensed.eot');
  src:
    local('F37 Judge Medium Condensed'),
    local('F37Judge-MediumCondensed'),
    url('../F37Judge-MediumCondensed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-MediumCondensed.woff2') format('woff2'),
    url('../F37Judge-MediumCondensed.woff') format('woff'),
    url('../F37Judge-MediumCondensed.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-Medium.eot');
  src:
    local('F37 Judge Medium'),
    local('F37Judge-Medium'),
    url('../F37Judge-Medium.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-Medium.woff2') format('woff2'),
    url('../F37Judge-Medium.woff') format('woff'),
    url('../F37Judge-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Compressed';
  src: url('../F37Judge-RegularCompressedItalic.eot');
  src:
    local('F37 Judge Regular Compressed Italic'),
    local('F37Judge-RegularCompressedItalic'),
    url('../F37Judge-RegularCompressedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-RegularCompressedItalic.woff2') format('woff2'),
    url('../F37Judge-RegularCompressedItalic.woff') format('woff'),
    url('../F37Judge-RegularCompressedItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Medium Extended';
  src: url('../F37Judge-MediumExtendedItalic.eot');
  src:
    local('F37 Judge Medium Extended Italic'),
    local('F37Judge-MediumExtendedItalic'),
    url('../F37Judge-MediumExtendedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-MediumExtendedItalic.woff2') format('woff2'),
    url('../F37Judge-MediumExtendedItalic.woff') format('woff'),
    url('../F37Judge-MediumExtendedItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Thin Compressed';
  src: url('../F37Judge-ThinCompressedItalic.eot');
  src:
    local('F37 Judge Thin Compressed Italic'),
    local('F37Judge-ThinCompressedItalic'),
    url('../F37Judge-ThinCompressedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-ThinCompressedItalic.woff2') format('woff2'),
    url('../F37Judge-ThinCompressedItalic.woff') format('woff'),
    url('../F37Judge-ThinCompressedItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge';
  src: url('../F37Judge-Bold.eot');
  src:
    local('F37 Judge Bold'),
    local('F37Judge-Bold'),
    url('../F37Judge-Bold.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-Bold.woff2') format('woff2'),
    url('../F37Judge-Bold.woff') format('woff'),
    url('../F37Judge-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Condensed';
  src: url('../F37Judge-RegularCondensedItalic.eot');
  src:
    local('F37 Judge Regular Condensed Italic'),
    local('F37Judge-RegularCondensedItalic'),
    url('../F37Judge-RegularCondensedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-RegularCondensedItalic.woff2') format('woff2'),
    url('../F37Judge-RegularCondensedItalic.woff') format('woff'),
    url('../F37Judge-RegularCondensedItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Bold Extended';
  src: url('../F37Judge-BoldExtended.eot');
  src:
    local('F37 Judge Bold Extended'),
    local('F37Judge-BoldExtended'),
    url('../F37Judge-BoldExtended.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-BoldExtended.woff2') format('woff2'),
    url('../F37Judge-BoldExtended.woff') format('woff'),
    url('../F37Judge-BoldExtended.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Thin Extended';
  src: url('../F37Judge-ThinExtended.eot');
  src:
    local('F37 Judge Thin Extended'),
    local('F37Judge-ThinExtended'),
    url('../F37Judge-ThinExtended.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-ThinExtended.woff2') format('woff2'),
    url('../F37Judge-ThinExtended.woff') format('woff'),
    url('../F37Judge-ThinExtended.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Medium Extended';
  src: url('../F37Judge-MediumExtended.eot');
  src:
    local('F37 Judge Medium Extended'),
    local('F37Judge-MediumExtended'),
    url('../F37Judge-MediumExtended.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-MediumExtended.woff2') format('woff2'),
    url('../F37Judge-MediumExtended.woff') format('woff'),
    url('../F37Judge-MediumExtended.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Condensed';
  src: url('../F37Judge-RegularCondensed.eot');
  src:
    local('F37 Judge Regular Condensed'),
    local('F37Judge-RegularCondensed'),
    url('../F37Judge-RegularCondensed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-RegularCondensed.woff2') format('woff2'),
    url('../F37Judge-RegularCondensed.woff') format('woff'),
    url('../F37Judge-RegularCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Thin Condensed';
  src: url('../F37Judge-ThinCondensedItalic.eot');
  src:
    local('F37 Judge Thin Condensed Italic'),
    local('F37Judge-ThinCondensedItalic'),
    url('../F37Judge-ThinCondensedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-ThinCondensedItalic.woff2') format('woff2'),
    url('../F37Judge-ThinCondensedItalic.woff') format('woff'),
    url('../F37Judge-ThinCondensedItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Thin Compressed';
  src: url('../F37Judge-ThinCompressed.eot');
  src:
    local('F37 Judge Thin Compressed'),
    local('F37Judge-ThinCompressed'),
    url('../F37Judge-ThinCompressed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-ThinCompressed.woff2') format('woff2'),
    url('../F37Judge-ThinCompressed.woff') format('woff'),
    url('../F37Judge-ThinCompressed.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Bold Compressed';
  src: url('../F37Judge-BoldCompresseditalic.eot');
  src:
    local('F37 Judge Bold Compressed italic'),
    local('F37Judge-BoldCompresseditalic'),
    url('../F37Judge-BoldCompresseditalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-BoldCompresseditalic.woff2') format('woff2'),
    url('../F37Judge-BoldCompresseditalic.woff') format('woff'),
    url('../F37Judge-BoldCompresseditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'F37 Judge Medium Compressed';
  src: url('../F37Judge-MediumCompressed.eot');
  src:
    local('F37 Judge Medium Compressed'),
    local('F37Judge-MediumCompressed'),
    url('../F37Judge-MediumCompressed.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-MediumCompressed.woff2') format('woff2'),
    url('../F37Judge-MediumCompressed.woff') format('woff'),
    url('../F37Judge-MediumCompressed.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'F37 Judge Bold Extended';
  src: url('../F37Judge-BoldExtendedItalic.eot');
  src:
    local('F37 Judge Bold Extended Italic'),
    local('F37Judge-BoldExtendedItalic'),
    url('../F37Judge-BoldExtendedItalic.eot?#iefix') format('embedded-opentype'),
    url('../F37Judge-BoldExtendedItalic.woff2') format('woff2'),
    url('../F37Judge-BoldExtendedItalic.woff') format('woff'),
    url('../F37Judge-BoldExtendedItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
